/* bannernav */

.site-banner {
    top: 75px!important;
    display: none;
}

.navlist .lilogo:hover .site-banner {
    display: block;
}


/* 热门物品 */

.search-hot {
    position: absolute;
    top: 14px;
    right: 62px;
    z-index: 2;
    text-align: right;
}

.search-hot>a {
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    font-size: 12px;
    background: #eee;
    color: #757575;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.search-hot>a:hover {
    background-color: #ff6700;
    color: white;
}